:root {
    --border-test: 1px solid red;
}

html {
    font-family: POPPINS, sans-serif;
    scroll-behavior: smooth;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d1d2c6;
}

/*nav bar*/

#logo {
    padding: 0.4rem;
}

#logo-title {
    display: inline;
    padding-top: 0.5rem;
}

#nav-title {
    display:flex;
}

#nav-links {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D0D6B3;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #143109;
    text-decoration: none;
}

#nav-links .nav-link {
    padding: 0 3rem;
    border-left: 1px solid black;
}
#nav-links .nav-link:last-of-type {
    border-right: 1px solid black;
}


#production-img-h2 {
    padding-top: 5rem;
}


figure {
    margin: 0;
    padding: 0;
}

#header-img {
    margin-top: -20rem;
}

#header-img-h2 {
    position: relative;
    top: 7.5rem;
    left: 45rem;
    width: 50%;
    z-index: -1;
}

@media only screen and (max-width: 720px) {
    p {
        font-size: small;
    }
}

@font-face {
    font-family: POPPINS;
    src: url(fonts/poppins/Poppins-Regular.ttf);
}