:root {
    --border-test: 1px solid red;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

/*nav bar*/

#logo {
    padding: 0.4rem;
}

#logo-title {
    display: inline;
    padding-top: 0.5rem;
}

#nav-title {
    display:flex;
}

#nav-links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D0D6B3;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #143109;
    text-decoration: none;
}

#section-video {
    display: flex;
}

#video {
    justify-content: center;
}

@media only screen and (max-width: 720px) {
    p {
        font-size: small;
    }
}